<div class="header ">
  <%= render "static_pages/header" %>
</div>
<section class="section-3 pt-5">
<div class="container px-5 py-3">
  <%= render "static_pages/concept" %>
</div>
</section>
<section class="section-3 pt-5">
<div class="container px-5 py-3">
  <%= render "static_pages/cards_brands" %>
</div>
</section>
<section class="section-3 pt-5">
<div class ="container px-4 py-3">
  <%= render "static_pages/submit_brands" %>
</div>
</section>
<section class="section-3 pt-5">
  <div class ="container px-4 py-3">
    <%= render "static_pages/blog" %>
  </div>
</section>
