<div class="container">
    <h3 class="fw-light mb-3">Retrouvez tous les derniers posts<h3>
</div>
<div class="container">
    <div class="row gy-3">
        <% @posts.each do |post| %>
            <div class="col-sm-4 d-flex align-items-stretch">
                <div class="card h-100">
                    <% if image_tag = "blog_image#{post.id}.webp" %>
                        <%= image_tag"blog_image#{post.id}.webp", :alt => "", :class => "card-img-top align-items-stretch; position: center; background-repeat: no-repeat; background-size: cover", :style => "display: block; ;height: 20rem; width: 25rem"%>
                    <% else %>
                        <%= image_tag"nike.jpg", :alt => "", :class => "card-img-top", :style => "height: 100%; width: 100%; display: block;"%>
                    <% end %> 
                    <div class="card-body row d-flex align-items-stretch">
                        <h3 class="display-7"><%= post.title %></h3>
                        <p class="card-text"><%=  truncate(post.description, length: 100) %></p>
                        <div class="d-flex justify-content-between align-items-end">
                            <div class="btn-group">
                            <a class="btn btn-primary active mt-2 mb-4" href="<%=post_path(post.id)%>">Détails</a>
                            </div>
                            <small class="text-muted"><%= post.created_at.strftime("%d/%m/%Y") %></small>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>  
    </div>
</div>




