<%= form_with(model: brand, local: true) do |form| %>
  <% if brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-12">
      <%= form.label :name, { class: "form-label"} %>
      <%= form.text_field :name, { class: "form-control", placeholder: "Nom de la marque" } %>
  </div>
  <div class="col-md-6">
      <%= form.label :rank, { class: "form-label"} %>
      <%= form.number_field :rank, { class: "form-control", placeholder: "Valeur comprise entre 1 et 100" } %>
  </div>
  <div class="col-md-6">
      <%= form.label :environment, { class: "form-label"} %>
      <%= form.number_field :environment, { class: "form-control", placeholder: "Valeur comprise entre 1 et 100" } %>
  </div>
  <div class="col-md-6">
      <%= form.label :labour, { class: "form-label"}  %>
      <%= form.number_field :labour, { class: "form-control", placeholder: "Valeur comprise entre 1 et 100" } %>
  </div>
  <div class="col-md-6">
    <%= form.label :animal, { class: "form-label"}  %>
    <%= form.number_field :animal, { class: "form-control", placeholder: "Valeur comprise entre 1 et 100" } %>
  </div>
    <div class="col-md-6">
    <%= form.label :quality, { class: "form-label"}  %>
    <%= form.number_field :quality, { class: "form-control", placeholder: "Valeur comprise entre 1 et 100" } %>
  </div>
  <div class="col-md-6">
    <%= form.label :price, { class: "form-label"}  %>
    <%= form.number_field :price, { class: "form-control", placeholder: "Valeur comprise entre 1 et 100" } %>
  </div>
  <div class="mb-3">
    <%= form.label :description, { class: "form-label"} %>
    <%= form.text_area :description, { class: "form-control", placeholder: "Informations concernant la marque", rows: "3" } %>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Soumettre la marque</button>
  </div>
</div>
<% end %>


