<p id="notice"><%= notice %></p>

<center><h1>Nos marques références</h1></center>

<div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
      <center><h1 class="fw-light">Les marques présentes</h1>
        <p class="lead text-muted">Vous trouverez les marques blablabla</p>
        <p> Vous ne trouvez pas la marque que vous recherchez ? Proposez nous votre idée ! 😎 </p>
          <a href="<%= new_brand_path %>" class="btn btn-outline-primary my-2", "nav-link" >Soumettre une marque</a></center>
        </p>        

      </div>
    </div>

    <div class="container">
      <% @brands.each do |brand| %>
        <div class="album py-4 bg-primary">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
              <div class="card mb-4 mt-5 box-shadow">
              <img class="card-img-top" >
              <h3 class="display-9"><%= brand.name %></h3>
              <p>note : <%= brand.rank %></p>
              <p>environnement : <%= brand.environment %></p>
              <p>labour : <%= brand.labour %></p>
              <p>animal : <%= brand.animal %></p>
              <p>qualité : <%= brand.quality %></p>
              <p>description: <%= brand.description %></p>
              <p>prix : <%= brand.price %></p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir plus</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

      <% end %>
      
   
       
<br>







