<div class="container p-5 my-5 border">

<h1 class="fw-light"><%= @brand.name %></h1>

<div class ="contrainer">
  <p><h3 class="fw-light">Note générale :
  <%= @brand.rank %></h3></p>

  <% if @brand.rank <=33 %>
    <div class="progress">
      <div class="progress-bar bg-danger" role="progressbar" style="width: <%= @brand.rank %>%;" aria-valuenow="<%= @brand.rank %>" aria-valuemin="0"  aria-valuemax="10"></div>
    </div>
  <% elsif @brand.rank <=66 && @brand.rank >33 %>
    <div class="progress">
      <div class="progress-bar bg-warning" role="progressbar" style="width: <%= @brand.rank %>%;" aria-valuenow="<%= @brand.rank %>" aria-valuemin="0" aria-valuemax="10"></div>
    </div>
  <% else %>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: <%= @brand.rank %>%;" aria-valuenow="<%= @brand.rank %>" aria-valuemin="0"  aria-valuemax="10"></div>
    </div>
  <% end %>

<br>
  <% if user_signed_in? %>

    <% if @brand.likes.find { |like| like.user_id == current_user.id} %>
      <%= button_to "💔", brand_like_path(@brand, @brand.likes.find { |like| like.user_id == current_user.id} ), class: 'btn btn-light', method: :delete %>
    <% else %>
      <%= button_to '❤️', brand_likes_path(@brand), class: 'btn btn-light', method: :post %>
    <% end %>
    <br>
    <%= @brand.likes.count %> <%= (@brand.likes.count) == 1 ? 'Like ❤️' : 'Likes ❤️'%>

  <% else %>
    <%= @brand.likes.count %> <%= (@brand.likes.count) == 1 ? 'Like ❤️' : 'Likes ❤️'%>
  <% end %>


</div>
  <br>
  <p id="notice"><%= notice %></p>

  <table class="table">

  <tr>
  <td><strong>Description de la marque :</strong></td>
  <td><%= @brand.description %></td>
  </tr>

  <tr>
  <td><strong>Environnement :</strong></td>
  <td><%= @brand.environment %></td>
  </tr>

  <tr>
  <td><strong>Conditions de travail :</strong></td>
  <td><%= @brand.labour %></td>
  </tr>

  <tr>
  <td><strong>Conditions animales :</strong></td>
  <td><%= @brand.animal %></td>
  </tr>

  <tr>
  <td><strong>Qualité :</strong></td>
  <td><%= @brand.quality %></td>
  </tr>

  <tr>
  <td><strong>Prix :</strong></td>
  <td><%= @brand.price %></td>
  </tr>

  </table>

  <%= link_to 'Retour à la liste des marques.', brands_path %>

</div>
